.container {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-rows: 15vh 75vh 10vh;
  gap: 5px;
  grid-template-areas:
  "hd"
  "main"
  "ft";
}

.header {
  border: 2px solid sandybrown;
  grid-area: hd;
}

.content {
  border: 2px solid red;
  grid-area: main;
}

.footer {
  border: 2px solid blue;
  grid-area: ft;
}